/* 
 * 
 * 
 * 
*/
hr { height: 1px; width: 100%; margin-top: 0px; margin-bottom: 10px; border-color: #CCC; border-width: 0 0 1px 0; border-style: dashed; }
.noprint{ display:none; }
a, a:visited {color: #0052A5; text-decoration: none; }
a:hover { text-decoration: underline; }


#container { margin-left: auto; margin-right: auto; text-align: left; width: 260px; position: relative;}


/* top rank Feb 2008 release */

/* customer login redesign */
div#loginSegments ul { margin: 0; padding: 0; list-style-type: none; }
div#loginSegments li { margin: 0 0 8px 0; padding: 0; list-style-type: none; }
div#loginSegments h1 { margin-top: 0; padding-top: 0; }


/* News styles for addthis and accesibility April 2011*/
/* ACCESSIBLE */
.focusable a, a.focusable { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; background:#fff; }
.focusable a:focus, a.focusable:focus { left: 10px; width:auto; height:auto; }
.visuallyhidden { border: 0; /*clip: rect(0 0 0 0); */ height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;  } 




/* GLOBAL NAV */
.breadcrumb { clear: both; position: relative; padding: 13px 12px; font-size: 10px;  color: #666666; }
.globalnav { margin: 1px 0 0 0; position: relative; z-index: 60; border-radius: 5px;  -moz-border-radius: 5px;}
.js .globalnav { height: 15px; border-radius: 5px;}
.globalnav ul { list-style-type: none; list-style-image: none; margin: 0; padding: 0; border-radius: 5px; -moz-border-radius: 5px;}
.js .globalnav ul { position: absolute; }
.navsegment { border:1px solid #d6d6d6; float: left; margin:0 10px 0 0; padding: 0; background: #fff url('Media/Images/symbol.gif') repeat-x left -128px; border-radius: 5px;  -moz-border-radius: 5px;}
.navsegment.open { box-shadow: 0 0 5px rgba(0, 0, 0, .5); border-radius: 5px;}
.globalnav li.last { margin-right: 0; }
.segmentlink { font-weight: bold; width: 70px; display: block; padding: 2px 2px; background: url('Media/Images/symbol.gif') no-repeat 93% -60px; border-radius: 5px;  -moz-border-radius: 5px;}
.segmentlink:hover { text-decoration: none; }
.navsegment.open .segmentlink { background: url('Media/Images/symbol.gif') no-repeat 93% -91px; }
.navsegment ul { padding: 4px 4px; background: #fff; width: 130px; border-radius: 5px;  -moz-border-radius: 5px;}
.js .navsegment ul { display: none; position: relative; }
.navsegment li { margin-bottom: 3px; }
.navsegment li.subhead { margin-top: 3px; font-weight: bold; color: #666666; }
